@font-face {
	font-family: minecraft;
	src: url("../fonts/minecraftregular.otf");
}
@font-face {
	font-family: minecraft-alt;
	src: url("../fonts/minecraftregular_backup.ttf");
}
@font-face {
	font-family: minecraft-bold;
	src: url("../fonts/minecraftbold.otf");
}
@font-face {
	font-family: minecraft-italic;
	src: url("../fonts/minecraftitalic.otf");
}
